.account-selection {
  grid-column: 1/-1;

  @media (min-width: $desktop-medium) {
    display: none;
  }
}

.account-selection__list {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  @media (max-width: $tablet) {
    margin-bottom: 30px;
  }
}

.account-selection__item {
  @media (max-width: $tablet) {
    margin-bottom: 20px;
  }
}
