.blog__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: 0;
  padding: 0;
  column-gap: 32px;

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
  }
}

.blog__item {
  max-width: 378px;
  margin-bottom: 65px;

  @media (max-width: $tablet) {
    max-width: 280px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    max-width: 340px;
  }

  &--close {
    display: none;
  }

  &--show {
    display: block;
  }
}

.blog__link {
  position: relative;
  display: block;

  &:hover {
    &::after {
      position: absolute;
      top: 233px;
      right: 110px;
      width: 50px;
      height: 50px;
      background: url("../img/icons/cursor.svg") 50% 50% no-repeat;
      background-size: cover;
      content: "";
    }
  }
}

.blog__img {
  height: 380px;
  margin-bottom: 24px;
  object-fit: cover;
  border-radius: 16px;

  @media (max-width: $desktop-small) {
    width: 280px;
    height: 280px;
  }

  @media (min-width: $desktop-small) and (max-width: $desktop-medium) {
    width: 330px;
    height: 330px;
  }
}

.blog__subtitle {
  @include font-setting(28px, 120%);
  @include margin-y(0, 8px);

  @media (max-width: $desktop-small) {
    font-size: 20px;
  }

  @media (min-width: $desktop-small) and (max-width: $desktop-medium) {
    font-size: 24px;
  }
}

.blog__text {
  @include font-setting(16px, 160%);
  @include margin-y(0, 24px);

  @media (max-width: $desktop-small) {
    font-size: 13px;
  }

  @media (min-width: $desktop-small) and (max-width: $desktop-medium) {
    font-size: 14px;
  }
}

.blog__tags-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.blog__tag {
  margin: 0;
  margin-right: 8px;
  padding: 4px 10px;
  color: $base-black-opacity-50;
  background-color: $turquoise-light-color;
  border-radius: 4px;
  @include font-setting(13px, 180%);
}
