.button {
  padding: 16px 22px;
  color: $base-white;
  font-family: $DMSans;
  background-color: $turquoise-color;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
  @include font-setting(18px, 100%);

  &--mod {
    padding: 10px 16px;
    @include font-setting(15px, 100%);
  }

  &:hover {
    background-color: $base-black;
  }

  &:active {
    color: $base-black;
    background-color: $base-white;
    box-shadow: 0 0 4px 2px $grey-color;
  }
}
