.link {
  position: relative;
  color: $turquoise-color;

  @media (max-width: $tablet) {
    font-size: 14px;
  }

  &--arrow {
    &::after {
      position: absolute;
      top: 3px;
      right: -26px;
      width: 16px;
      height: 14px;
      background: url("../img/icons/arrow-right.svg") 50% 50% no-repeat;
      background-size: cover;
      transition: all 0.1s ease-in-out;
      content: "";

      @media (max-width: $tablet) {
        width: 12px;
        height: 10px;
      }
      @media (min-width: $tablet) and (max-width: $desktop-medium) {
        width: 14px;
        height: 12px;
      }
    }

    &:hover {
      &::after {
        @media (min-width: $tablet) {
          top: 2px;
          right: -32px;
          width: 16px;
          height: 14px;
        }
        @media (min-width: $desktop-medium) {
          top: 2px;
          right: -31px;
          width: 18px;
          height: 16px;
        }
      }
    }
  }
}
