.modal {
  display: none;

  &--show-modal {
    position: fixed;
    top: 55%;
    left: 50%;
    z-index: 100;
    display: block;
    width: 80%;
    height: 75%;
    overflow-y: auto;
    transform: translateX(-50%) translateY(-50%);

    @media (max-width: $tablet) {
      top: 55%;
    }

    @media (min-width: $tablet) and (max-width: $desktop-small) {
      top: 60%;
    }
  }
}
