.section-advantage {
  border-top: 1px solid $grey-color;
}

.section-advantage__wrapper {
  text-align: center;
  @include padding-y(160px, 160px);

  @media (max-width: $tablet) {
    @include padding-y(80px, 80px);
  }

  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    @include padding-y(120px, 120px);
  }
}

.section-advantage__text-wrapper {
  margin-bottom: 96px;

  @media (max-width: $tablet) {
    margin-bottom: 50px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    margin-bottom: 70px;
  }
}

.section-advantage__title {
  @include margin-y(0, 16px);
}

.section-advantage__text {
  margin: 0;
  @include font-setting(20px, 180%);

  @media (max-width: $tablet) {
    font-size: 16px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    font-size: 18px;
  }
}

.section-advantage__subtitle {
  @include font-setting(40px, 120%);
  @include margin-y(0, 8px);

  @media (max-width: $tablet) {
    font-size: 20px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    font-size: 30px;
  }
}

.section-advantage__description {
  margin: 0;
  color: $base-black-opacity-50;
  @include font-setting(18px, 180%);

  @media (max-width: $tablet) {
    font-size: 14px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    font-size: 16px;
  }
}

.section-advantage__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, (370px));
  justify-content: center;
  margin: 0;
  padding: 0;
  column-gap: 30px;

  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.section-advantage__item {
  position: relative;
  max-width: 370px;
  margin: 0 0 30px;
  padding: 70px 40px 20px;
  background-color: $grey-light-color;
  border-radius: 20px;

  &::before {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform: translateX(-50%);
    content: "";
  }

  &:nth-child(1) {
    &::before {
      background-image: url("../img/icons/features-icon-4.svg");
    }
  }

  &:nth-child(2) {
    &::before {
      background-image: url("../img/icons/features-icon-5.svg");
    }
  }

  &:nth-child(3) {
    &::before {
      background-image: url("../img/icons/compare-icon-5.svg");
    }
  }

  &:nth-child(4) {
    &::before {
      background-image: url("../img/icons/features-icon-2.svg");
    }
  }

  &:nth-child(5) {
    &::before {
      background-image: url("../img/icons/features-icon-1.svg");
    }
  }
}
