.section-tools__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 452px;
  @include padding-y(80px, 160px);

  @media (max-width: $tablet) {
    @include padding-y(40px, 40px);
  }

  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    @include padding-y(80px, 80px);
  }
}

.section-tools__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 780px;
  margin-bottom: 48px;
  @include zero-indents;

  @media (max-width: $tablet) {
    margin-bottom: 20px;
  }
}

.section-tools__item {
  margin: 0;
  padding: 0;

  &:not(:last-child) {
    margin-right: 16px;
    margin-bottom: 16px;
  }
}

.section-tools__text-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $desktop-small) {
    grid-template-columns: 1fr;
  }
}

.section-tools__text {
  max-width: 540px;
  @media (max-width: $desktop-small) {
    justify-self: center;
    margin-bottom: 20px;
  }
}

.section-tools__advantage {
  display: flex;
  flex-direction: column;
  justify-content: end;
  justify-self: center;
}

.section-tools__advantage-list {
  @include zero-indents;

  display: flex;
  flex-direction: column;
}

.section-tools__advantage-item {
  position: relative;
  @include padding-y(4px, 4px);

  &::before {
    position: absolute;
    top: 50%;
    left: -54px;
    width: 40px;
    height: 40px;
    background: url("../img/icons/check-mark-light.svg") 50% 50% no-repeat;
    background-size: contain;
    transform: translateY(-50%);
    content: "";

    @media (max-width: $desktop-small) {
      left: -40px;
      width: 30px;
      height: 30px;
      background-size: contain;
    }
  }

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.section-tools__description {
  margin: 0;
}

.section-tools__subtitle {
  @include margin-y(0, 8px);
}

.section-tools__title {
  @include margin-y(0, 16px);
}

.section-tools__advantage-text,
.section-tools__description {
  @include font-setting(18px, 180%);

  @media (max-width: $tablet) {
    font-size: 14px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    font-size: 16px;
  }
}

.section-tools__advantage-text {
  width: 100%;
  margin: 0;
}
