.section-posts__wrapper {
  margin-bottom: 96px;
}

.section-posts__categories {
  display: flex;
  align-items: center;
  @include margin-y(0, 60px);
}

.section-posts__title {
  margin-right: 32px;
  @include font-setting(18px, 140%);
}

.section-posts__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.section-posts__button {
  margin-right: 16px;
  padding: 4px 10px;
  background-color: $grey-light-color;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;

  &:hover {
    margin-bottom: 4px;
    text-shadow: $base-black-opacity-50 0 4px 3px;
  }

  &--active {
    margin-bottom: 6px;
    color: $turquoise-color;
    pointer-events: none;
  }
}
