.section-hero {
  &--bg-color {
    background-color: $turquoise-light-color;
  }

  &--features-page-bg {
    @include bg-image(
      "../img/cards/features-cards.png",
      no-repeat,
      50%,
      290%,
      1764px 692px
    );

    @include webp-and-retina-bg-image(
      "../img/cards/features-cards@2x.png",
      "../img/cards/features-cards.webp",
      "../img/cards/features-cards@2x.webp"
    );
  }
}

.section-hero__wrapper {
  &--home-page {
    min-height: 578px;
    @include margin-y(128px, 128px);

    @include bg-image(
      "../img/cards/front-cards.png",
      no-repeat,
      92%,
      50%,
      400px 578px
    );
    @include webp-and-retina-bg-image(
      "../img/cards/front-cards@2x.png",
      "../img/cards/front-cards.webp",
      "../img/cards/front-cards@2x.webp"
    );
  }

  &--features-page {
    min-height: 290px;
    text-align: center;
    @include padding-y(128px, 450px);
  }

  &--compare-page {
    min-height: 216px;
    margin-bottom: 88px;
    @include padding-y(128px, 128px);

    @include bg-image(
      "../img/cards/compare-cards.png",
      no-repeat,
      85%,
      100%,
      514px 368px
    );
    @include webp-and-retina-bg-image(
      "../img/cards/compare-cards@2x.png",
      "../img/cards/compare-cards.webp",
      "../img/cards/compare-cards@2x.webp"
    );
  }
}

.section-hero__text-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 600px;

  &--features-page {
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
  }
}

.section-hero__title {
  margin: 16px 0;
}

.section-hero__subtitle {
  @include margin-y(0, 8px);
}

.section-hero__text {
  @include margin-y(0, 32px);
  @include font-setting(24px, 180%);

  &--features-page {
    @include font-setting(20px, 180%);
  }
}

.section-hero__list {
  display: flex;
  flex-wrap: wrap;
  @include margin-y(0, 64px);
  @include font-setting(18px, 180%);
}

.section-hero__item {
  min-width: 245px;
  @include margin-y(0, 16px);
}

.section-hero__item-text {
  position: relative;
  margin: 0;

  &::before {
    position: absolute;
    top: 50%;
    left: -42px;
    width: 26px;
    height: 26px;
    background: url("../img/icons/check-mark-light.svg") 50% 50% no-repeat;
    transform: translateY(-50%);
    content: "";
  }
}

.section-hero__links-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;

  &--features-page {
    margin-top: 0;
  }
}

.section-hero__link {
  margin-right: 32px;
}
