.section-features__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include padding-y(160px, 160px);
}

.section-features__img-wrapper {
  display: flex;
  justify-content: center;
}

.section-features__title {
  @include margin-y(0, 64px);
  @include font-setting(80px, 110%);
}

.section-features__subtitle {
  margin: 0 0 8px;
}

.section-features__text {
  max-width: 220px;
}

.section-features__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  max-width: 600px;
  @include zero-indents;
}

.section-features__item {
  position: relative;
  max-width: 284px;
  min-height: 264px;
  padding: 98px 32px 32px;
  border-radius: 5%;
  outline: 2px solid $grey-color;
  outline-offset: -2px;

  &::before {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    content: "";
  }

  &:nth-child(1) {
    &::before {
      background-image: url("../img/icons/features-icon-1.svg");
    }
  }

  &:nth-child(2) {
    &::before {
      background-image: url("../img/icons/features-icon-2.svg");
    }
  }

  &:nth-child(3) {
    &::before {
      background-image: url("../img/icons/features-icon-3.svg");
    }
  }

  &:nth-child(4) {
    &::before {
      background-image: url("../img/icons/features-icon-4.svg");
    }
  }

  &:nth-child(5) {
    &::before {
      background-image: url("../img/icons/features-icon-5.svg");
    }
  }

  &:nth-child(6) {
    &::before {
      background-image: url("../img/icons/features-icon-6.svg");
    }
  }
}
