.section-accounts {
  &--home-page {
    border-top: 1px solid $grey-color;
  }
}

.section-accounts__wrapper {
  &--home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    padding-top: 160px;
    text-align: center;
    @include margin-y(0, 160px);

    @include bg-image(
      "../img/cards/three-cards.png",
      no-repeat,
      50%,
      75%,
      500px 500px
    );

    @include webp-and-retina-bg-image(
      "../img/cards/three-cards@2x.png",
      "../img/cards/three-cards.webp",
      "../img/cards/three-cards@2x.webp"
    );

    @media (max-width: $tablet) {
      margin-bottom: 60px;
      padding-top: 40px;
      background-size: 280px;
    }

    @media (min-width: $tablet) and (max-width: $desktop-medium) {
      margin-bottom: 80px;
      padding-top: 80px;
      background-size: 400px;
    }
  }

  &--features-page {
    margin-bottom: 160px;

    @media (max-width: $tablet) {
      margin-bottom: 60px;
    }
  }
}

.section-accounts__text-wrapper {
  &--features-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include margin-y(0, 96px);

    @media (max-width: $tablet) {
      margin-bottom: 60px;
    }
  }
}

.section-accounts__subtitle {
  @include margin-y(0, 8px);
}

.section-accounts__title {
  @include margin-y(0, 16px);
}

.section-accounts__text {
  @include font-setting(20px, 180%);

  &--home-page {
    @include margin-y(0, 650px);

    @media (max-width: $tablet) {
      margin-bottom: 400px;
      font-size: 16px;
    }

    @media (min-width: $tablet) and (max-width: $desktop-medium) {
      margin-bottom: 500px;
      font-size: 18px;
    }
  }

  &--features-page {
    margin: 0;

    @media (max-width: $tablet) {
      font-size: 16px;
    }

    @media (min-width: $tablet) and (max-width: $desktop-medium) {
      font-size: 18px;
    }
  }
}

.section-accounts__nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.section-accounts__button {
  display: block;
  margin-right: 32px;

  @media (max-width: $tablet) {
    margin-bottom: 20px;
  }
}

.section-accounts__link {
  margin-right: 16px;

  @media (max-width: $tablet) {
    margin-bottom: 20px;
  }
}
