.section-features__wrapper {
  padding-right: 50px;
  padding-left: 50px;
  @include padding-y(160px, 0);

  @media (max-width: $tablet) {
    padding-top: 80px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    padding-top: 120px;
  }

  &--home-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include padding-y(160px, 160px);

    @media (max-width: $tablet) {
      padding-right: 30px;
      padding-left: 30px;
      @include padding-y(50px, 50px);
    }

    @media (min-width: $tablet) and (max-width: $desktop-medium) {
      background-position: 70% 0;
      background-size: 300px;
      @include padding-y(20px, 80px);
    }
  }

  &--features-page {
    padding-right: 150px;
    padding-left: 150px;

    @media (max-width: $tablet) {
      padding-right: 30px;
      padding-left: 30px;
    }

    @media (min-width: $tablet) and (max-width: $desktop-medium) {
      padding-right: 100px;
      padding-left: 150px;
    }
  }
}

.section-features__title {
  grid-column: 1/-1;
  @include margin-y(0, 64px);

  @media (max-width: $tablet) {
    margin-bottom: 32px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    margin-bottom: 48px;
  }

  &--features-margin {
    @include margin-y(0, 16px);
  }
}

.section-features__subtitle {
  margin: 0 0 8px;
}

.section-features__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 540px;
  padding-right: 20px;
}

.section-features__text {
  max-width: 220px;
  margin: 0;
  @include font-setting(16px, 160%);

  @media (max-width: $tablet) {
    font-size: 14px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    font-size: 16px;
  }

  &--features-page {
    max-width: 100%;
    margin-bottom: 32px;
    @include font-setting(18px, 180%);

    @media (max-width: $tablet) {
      font-size: 14px;
    }

    @media (min-width: $tablet) and (max-width: $desktop-medium) {
      font-size: 16px;
    }
  }
}

.section-features__item-text {
  @include font-setting(18px, 180%);

  @media (max-width: $tablet) {
    font-size: 14px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    font-size: 16px;
  }
}

.section-features__block {
  display: grid;
  grid-template-columns: 1fr 380px;
  margin-bottom: 160px;

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
  }

  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    grid-template-columns: 1fr 280px;
  }
}

.section-features__list {
  &--home-page {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 32px;
    justify-items: center;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    @media (max-width: $tablet) {
      gap: 10px;
      justify-items: center;
    }
  }
  @include zero-indents;
}

.section-features__item {
  position: relative;

  &--home-page {
    max-width: 284px;
    min-height: 264px;
    padding: 98px 32px 32px;
    border-radius: 5%;
    outline: 2px solid $grey-color;
    outline-offset: -2px;

    @media (max-width: $tablet) {
      padding: 78px 20px 0;
    }

    &::before {
      position: absolute;
      top: 32px;
      left: 32px;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      content: "";

      @media (max-width: $tablet) {
        top: 12px;
      }
    }

    &:nth-child(1) {
      &::before {
        background-image: url("../img/icons/features-icon-1.svg");
      }
    }

    &:nth-child(2) {
      &::before {
        background-image: url("../img/icons/features-icon-2.svg");
      }
    }

    &:nth-child(3) {
      &::before {
        background-image: url("../img/icons/features-icon-3.svg");
      }
    }

    &:nth-child(4) {
      &::before {
        background-image: url("../img/icons/features-icon-4.svg");
      }
    }

    &:nth-child(5) {
      &::before {
        background-image: url("../img/icons/features-icon-5.svg");
      }
    }

    &:nth-child(6) {
      &::before {
        background-image: url("../img/icons/features-icon-6.svg");
      }
    }
  }

  &--features-page {
    padding-left: 40px;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 26px;
      height: 26px;
      background: url("../img/icons/check-mark-light.svg") 50% 50% no-repeat;
      background-size: contain;
      transform: translateY(-50%);
      content: "";
    }
  }
}

.section-features__img {
  width: 380px;

  @media (max-width: $tablet) {
    display: none;
  }

  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    width: 200px;
  }
}
