.section-contact {
  padding: 0 40px;

  @media (max-width: $tablet) {
    padding: 0 20px;
  }
}

.section-contact__wrapper {
  display: grid;
  grid-template-columns: 350px 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  max-width: 1200px;
  min-height: 130px;
  margin: 0 auto;
  margin-bottom: 96px;
  color: $base-white;
  background-color: $turquoise-color;
  border-radius: 8px;

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
    margin-bottom: 60px;
    padding: 20px 40px;
    row-gap: 20px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 80px;
    padding: 30px 40px;
    row-gap: 30px;
  }
}

.section-contact__text-wrapper {
  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    grid-column: 1/-1;
  }
}

.section-contact__tel {
  position: relative;
  white-space: nowrap;

  &::before {
    position: absolute;
    top: 50%;
    left: -56px;
    width: 40px;
    height: 40px;
    background: url("../img/icons/phone-white-icon.svg") 50% 50% no-repeat;
    transform: translateY(-50%);
    content: "";
  }

  @media (max-width: $tablet) {
    margin-right: 30px;
  }
}

.section-contact__mail {
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    left: -56px;
    width: 40px;
    height: 40px;
    background: url("../img/icons/mail-white-icon.svg") 50% 50% no-repeat;
    transform: translateY(-50%);
    content: "";
  }
}

.section-contact__mail-link,
.section-contact__description,
.section-contact__tel-link,
.section-contact__text,
.section-contact__title {
  margin: 0;
}

.section-contact__title {
  @include font-setting(28px, 120%);

  @media (max-width: $tablet) {
    font-size: 20px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    font-size: 24px;
  }
}

.section-contact__text {
  @include font-setting(18px, 180%);

  @media (max-width: $tablet) {
    font-size: 14px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    font-size: 16px;
  }
}

.section-contact__mail-link,
.section-contact__tel-link {
  color: $base-white;
  @include font-setting(18px, 140%);

  @media (max-width: $tablet) {
    font-size: 14px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    font-size: 16px;
  }
}

.section-contact__description {
  @include font-setting(14px, 160%);

  @media (max-width: $tablet) {
    font-size: 12px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    font-size: 13px;
  }
}

.section-contact__chat-button {
  max-width: 150px;
  padding: 16px 24px;
  color: $base-white;
  background-color: $base-black;
  border-radius: 6px;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: $base-black-opacity-50;
  }

  // @media (min-width: $tablet) and (max-width: $desktop-medium) {
  //   grid-column: 1/-1;
  // }
}
