.section-testimonials__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 64px;
  margin-bottom: 160px;

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
    row-gap: 30px;
    margin-bottom: 40px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    margin-bottom: 80px;
  }
}

.section-testimonials__title {
  margin: 0;
}

.section-testimonials__text-wrapper {
  grid-column: 1/2;
}

.section-testimonials__rating-wrapper {
  display: flex;
  grid-column: 2/-1;
  align-items: end;
  justify-content: end;

  @media (max-width: $tablet) {
    grid-column: 1/-1;
    justify-content: center;
  }
}

.section-testimonials__rating {
  position: relative;
  margin: 0;
  padding: 4px 11px;
  @include font-setting(18px, 180%);

  &::before {
    position: absolute;
    top: 50%;
    left: -46px;
    width: 40px;
    height: 40px;
    background: url("../img/icons/rating-icon.svg") 50% 50% no-repeat;
    transform: translateY(-50%);
    content: "";

    @media (max-width: $desktop-small) {
      left: -30px;
      width: 30px;
      height: 30px;
      background-size: contain;
    }
  }

  @media (max-width: $tablet) {
    font-size: 14px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-medium) {
    font-size: 16px;
  }
}

.section-testimonials__rating-numbers {
  color: $turquoise-color;
}
