.socials {
  max-width: 208px;
  margin: 0 auto;
  text-align: center;
}

.socials__wrapper {
  margin-bottom: 160px;
}

.socials__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 22px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  fill: $base-black;

  &:hover {
    fill: $turquoise-color;
  }
}

.socials__title {
  @include margin-y(0, 16px);
}

.socials__socials-logo {
  &--facebook,
  &--instagram {
    margin-bottom: 2px;
  }
}
