.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: $turquoise-color;
  opacity: 1;

  &:hover {
    opacity: 0.5;
  }
}

.swiper-pagination-bullet-active {
  background-color: $turquoise-light-color;
  box-shadow: 0 0 8px 4px $turquoise-color;
}

.swiper {
  &--home-page {
    grid-column: 1/-1;
    max-width: 100%;
  }
}

.swiper-slide {
  &--home-page {
    display: flex;
    align-items: center;
    padding-bottom: 120px;
  }
}

.swiper-pagination {
  padding-bottom: 70px;
}

.swiper-button-next {
  margin-right: 40px;
}

.swiper-button-prev {
  margin-left: 40px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 60px;
  height: 60px;
  color: $turquoise-color;
  background-color: $turquoise-light-color;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.1s ease-in-out;

  &::after {
    font-weight: bold;
    font-size: 30px;

    @media (max-width: $desktop-small) {
      font-size: 22px;
    }
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    color: $base-white;
    background-color: $turquoise-color;
  }

  @media (max-width: $tablet) {
    display: none;
  }

  @media (max-width: $desktop-small) {
    width: 50px;
    height: 50px;
  }
}

.swiper-button {
  &--home-page {
    position: absolute;
    top: 40%;
  }
}
