@mixin font-setting($a, $b) {
  font-size: $a;
  line-height: $b;
}

@mixin padding-x($a, $b) {
  padding-right: $b;
  padding-left: $a;
}

@mixin padding-y($a, $b) {
  padding-top: $a;
  padding-bottom: $b;
}

@mixin padding-x-y($a, $b) {
  padding: $a $b $a $b;
}

@mixin zero-indents() {
  margin: 0;
  padding: 0;
}
