.narrow-wrapper {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  @include padding-x(40px, 40px);
}

.wide-wrapper {
  position: relative;
  max-width: 1480px;
  margin: 0 auto;
  @include padding-x(40px, 40px);
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0);
  clip-path: inset(100%);
}

.uppercase-mod {
  text-transform: uppercase;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
