.page {
  width: 100%;
  max-width: 100%;
  height: 100%;

  @media (min-width: 320px) {
    overflow-x: hidden;
  }
}

.page__body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  color: $base-black;
  font-weight: $font-medium;
  font-size: 16px;
  font-family: $Inter, "Arial", sans-serif;
  line-height: 120%;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

.outer-wrapper {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.inner-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0);
  clip-path: inset(100%);
}

.uppercase-mod {
  text-transform: uppercase;
}
