.blog-preview__content {
  padding: 20px;
}

.blog-preview__title {
  font-family: $DMSans;
  @include font-setting(20px, 120%);
}

.blog-preview__list {
  display: flex;
  flex-wrap: wrap;
  min-width: 1000px;
  @include zero-indents;

  @media (max-width: $desktop-large) {
    min-width: 500px;
  }
}

.blog-preview__item {
  display: flex;
  align-items: center;
  max-width: 460px;
  margin-right: 32px;
  margin-bottom: 8px;
  padding: 12px;
  background-color: $base-white;
  border-radius: 8px;

  @media (max-width: $desktop-medium) {
    min-width: 300px;
  }

  &--close {
    display: none;
  }

  &--show {
    display: block;
  }
}

.blog-preview__img {
  display: block;
  min-width: 100px;
  margin-right: 24px;
  border-radius: 8px;
}

.blog-preview__text-wrapper {
  display: flex;
  flex-direction: column;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  flex-wrap: wrap;
  justify-content: center;
}

.blog-preview__subtitle {
  margin: 0;
  font-family: $DMSans;
  @include font-setting(18px, 140%);
}

.blog-preview__text {
  margin: 0;
  color: $base-black-opacity-50;
  @include font-setting(14px, 160%);
}

.blog-preview__blog-link {
  color: $turquoise-color;
  font-family: $DMSans;
}
