.page-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding: 24px 40px;
  background-color: $base-white;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__capabilities {
  font-family: $DMSans;
  line-height: 100%;
}

.page-header__sign-in {
  padding-right: 32px;
  color: $turquoise-color;
  font-size: 18px;
}
