$base-white: #fff;
$base-white-opacity-20: #fff3;
$base-black: #1a191e;
$base-black-opacity-50: #1a191e80;

$grey-color: #e8e8e8;
$grey-light-color: #f8f8f8;

$turquoise-color: #5bb5a2;
$turquoise-color-opacity-60: #5bb5a299;
$turquoise-light-color: #e8f2ee;
